# Strings,Â Lists, Tuples, Sets, Dictionaries, Data Types, Variables, Naming conventions, Functions and conventions!

## Python basics

### Python Data Types

In [9]:
5

5

In [14]:
type(5)

int

In [10]:
1.0

3.147

In [13]:
type(1.0)

float

In [19]:
4+5j

(4+5j)

In [20]:
type(4+5j)

complex

#### Number Operations

In [1]:
#Addition
2+2

4

In [2]:
#Subtraction
5-1

4

In [ ]:
#Multiplication
5*4

In [ ]:
#Division
10/2

#### Boolean

In [7]:
not True

False

In [8]:
not False

True

In [4]:
x = 15

isinstance(x,int)

False

In [5]:
isinstance(x,float)

False

#### Strings

In [21]:
"Hello"

'Hello'

In [22]:
'My string'

'My string'

In [23]:
"It's a sunny day"

"It's a sunny day"

#### Lists

In [24]:
[]

[]

In [25]:
[2,5,3,9,4]

[2, 5, 3, 9, 4]

In [26]:
["hello",4,"hi",9.7]

['hello', 4, 'hi', 9.7]

#### Tuples

In [ ]:
(3,"Hi",1)

In [ ]:
(1,2,3)

#### Sets

In [27]:
{3,4,5,6}

{3, 4, 5, 6}

In [29]:
set({3,4,5,6})

{3, 4, 5, 6}

#### Dictionaries

In [ ]:
# a dictionary with integer keys
{1: 'apple', 2: 'banana', 3: 'orange'}

In [ ]:
#a dictionary with string keys
{'a': 'apple', 'b': 'banana'}

In [ ]:
#a dictionary with mixed key types
{1: 'apple', 'b': 'banana'}

## Variables, Naming Conventions & Print Function

### Variables

In [30]:
X = 7

In [31]:
Name = "Bob"

In [32]:
_weather = 'It is sunny today'

### Naming conventions

In [37]:
user_info = []

In [38]:
move_integers = {}

### Print Function

In [41]:
print ("Hello World")

Hello World

In [40]:
print(Name)

Bob

In [39]:
print(X + Bob)

NameError: name 'Bob' is not defined

## String Operations

### Built-In string functions

In [43]:
string = "This is the best masterclass I've ever seen!!"

In [44]:
string.lower()

"this is the best masterclass i've ever seen!!"

In [45]:
string.upper()

"THIS IS THE BEST MASTERCLASS I'VE EVER SEEN!!"

In [46]:
string.capitalize()

"This is the best masterclass i've ever seen!!"

In [47]:
string.strip()

"This is the best masterclass I've ever seen!!"

In [48]:
string.split(" ")

['This', 'is', 'the', 'best', 'masterclass', "I've", 'ever', 'seen!!']

In [49]:
string.split()

['This', 'is', 'the', 'best', 'masterclass', "I've", 'ever', 'seen!!']

### String slicing

In [57]:
name = "John"

In [58]:
name[0:2]

'Jo'

In [59]:
name[:2]

'Jo'

In [61]:
name[1:]

'ohn'

##### Exercise

In [ ]:
#Print out ALL but the last two letters of John

'Jo'

## Procedures and Functions

### Procedures

In [ ]:
#This is a procedure called output
#It will print a given number and its square

def output(number):
	print(number,"squared =",number*number)

#This is the start of the main program
number = 1
while number < 21:
	output(number)
	number = number + 1

In [ ]:
def output(grade,score=50,feedback="Well done!"):
	print("You scored",score,"which is a grade",grade,feedback)

output("C")
output("A",87)
output("E",12,"Rubbish!")

### Functions

In [ ]:
def calculate(number):
	newnumber = number / 100
	return (newnumber)

# Fibonacci Sequence

In [ ]:
#It is the sequence

In [69]:
FS = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34,...]

In [70]:
print(FS)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, Ellipsis]

##### Create a function that is able find any nth number in the Fibonacci sequence.

# Fun Coding Examples

## Calculate number of upper/lower case letters in string

In [0]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brown Fox')

## Ceaser Cypher

In [0]:
def caesar_encrypt(realText, step):
	outText = []
	cryptText = []
	
	uppercase = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
	lowercase = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

	for eachLetter in realText:
		if eachLetter in uppercase:
			index = uppercase.index(eachLetter)
			crypting = (index + step) % 26
			cryptText.append(crypting)
			newLetter = uppercase[crypting]
			outText.append(newLetter)
		elif eachLetter in lowercase:
			index = lowercase.index(eachLetter)
			crypting = (index + step) % 26
			cryptText.append(crypting)
			newLetter = lowercase[crypting]
			outText.append(newLetter)
	return outText

code = caesar_encrypt('abc', 2) #the letters 'a' 'b' 'c' are 2+ what their orignal value is so becomes 'c' 'd' 'e'
print()
print(code)
print()

['c', 'd', 'e']

## Inputs

In [35]:
first_name = input("Welcome to the hack! \nWhat is your first name? \n") 
surname = input("What is your surname?\n")
full_name = first_name + " " + surname
print ("Good to have you onboard " + full_name)

Welcome to the hack!
What is your first name?
James
What is your surname?
Smith
Good to have you onboard James Smith